@(message: String)(implicit request: RequestHeader)

@import helper._

@main("Websocket test") {

	<h1>WebSockets Client</h1>
 
    <div id="chatLog"></div>
 
    <button id="connectChannel">Connect to channel</button>
    <button id="disconnectChannel">Disconnect from channel</button>
    <button id="malformed">Malformed</button>
    <div>Message: <input id="text" type="text"/></div>
 
 	<script>
 	
 	$(document).ready(function() {
 	 
 		var deviceName = "device" + (Math.floor(Math.random() * 100));
    	var socket = new WebSocket("@routes.Application.ws.webSocketURL()");

    	connect();
 	 
	 	function connect(){
	 	    try{
	 	 
	 	 
	 	        message('<p class="event">Socket status: '+socket.readyState);
	 	 
	 	        socket.onopen = function(){
	 	             message('<p class="event">Socket status: '+socket.readyState+' (open)');
	 	        }
	 	 
	 	        socket.onmessage = function(msg){
	 	             message('<p class="message">Received: '+msg.data);
	 	        }
	 	 
	 	        socket.onclose = function(){
	 	             message('<p class="event">Socket status: '+socket.readyState+' (Closed)');
	 	        }          
	 	 
	 	    } catch(exception){
	 	         message('<p>Error'+exception);
	 	    }
	 	}
	 	
	 	function message(msg){
	 	    $('#chatLog').append(msg+'</p>');
	 	}
	 	
	 	$('#text').keypress(function(event) {
	 	    if (event.keyCode == '13') {
	 	    	sendEvent();
	 	    }
	 	});
	 	
	 	function sendEvent(){
	 		 
	 	    var text = $('#text').val();
	 	    if(text==""){
	 	        message('<p class="warning">Please enter a message');
	 	        return ;
	 	    }
 	    	msg = {message: "send-to-channel", event: {id:"chat/1", content: text}}
 	    	sendMsg(msg)
	 	    $('#text').val("");
	 	 
	 	}
	 	
	 	function sendMsg(msg){
	 	    try{
	 	    	json = JSON.stringify(msg);
	 	        socket.send(json);
	 	        message('<p class="event">Sent: ' + json)
	 	    } catch(exception){
		 	    message('<p class="warning"> Error:' + exception);
	 	    }
	 	}
	 	
	 	$('#connectChannel').click(function(){
 	    	msg = {message: "connect", channel:"channel1", device:deviceName, password:"pass1"}
 	    	sendMsg(msg)
	 	});
	 	
	 	$('#disconnectChannel').click(function(){
 	    	msg = {message: "disconnect"}
 	    	sendMsg(msg)
	 	});
        
        $('#malformed').click(function(){
            msg = {message: "aaa"}
            sendMsg(msg)
        });
    });
 	
 	</script>   
}