@(message: String)(implicit request: RequestHeader)

@import helper._

@main("Websocket test") {

	<h1 id="title">Channel tester</h1>

    <div class="panel">
        <span class="panelHeader">Connection:</span>
        <span >Channel name:</span>
        <input id="channelName" type="text" value="test"/>
        <span >Password:</span>
        <input id="channelPass" type="text" value="test"/>
        <button id="connectChannel">Connect</button>
    </div> 
    <div class="panel">
        <span class="panelHeader">Send event:</span>
        <span>eventID</span>
        <input id="eventName" type="text" value=""/>
        <span>params</span>
        <input id="eventParams" type="text" value="level"/>
        <button id="sendEventBtn">Send</button>
    </div>
    <div class="panel">
        <span class="panelHeader">Send message:</span>
        <span>Target device</span>
        <input id="deviceName2" type="text" value=""/>
        <span>Message name</span>
        <input id="messageName" type="text" value="level"/>
        <span>Message params</span>
        <input id="messageParams" type="text" value=""/>
        <button id="sendMessageBtn">Send</button>
    </div>
    <div class="panel">
        <span class="panelHeader">Actions:</span>
        <button id="getDevices">Get connected devices</button>
        <button id="clear">Clear log</button>
    </div>
    
    <div class="panel">
      <h4>Event log</h4>
      <div id="chatLog" class="chatLog"></div>
    </div>
 
 	<script>
 	
    var deviceName = "device" + (Math.floor(Math.random() * 100));
    $("#title").text(deviceName);

    var connection = null;

    $('#connectChannel').click(function(){
    	var channelName = $("#channelName").val()
    	var password = $("#channelPass").val()
    	connection = createConnection(channelName, deviceName, password);
    });

    function createConnection(channelName, device, pass){
        var url = "@routes.Application.ws.webSocketURL()";
        var connection = channelConnect(url, channelName, device, pass);
      
        connection.onConnected = function(){
          message("Connected");
        }

        connection.onError = function(reason){
          message("Error: " + reason);
        }
      
        connection.onDeviceJoinedChannel = function(deviceName){
            message("Device " + deviceName + " joined channel.");
        }
        
        connection.onEvent = function(eventId, params){
            message("Received event <b>" + eventId + "</b> with params: <b>" + params + "</b>");
        }
        
        connection.onMessage = function(device, msgId, params){
            message("Received message <b>" + msgId + "</b> from <b>" + device + "</b> with params: <b>" + params + "</b>");
        }

        connection.onDevicesEvent = function(devices){
        	message("Connected devices:");
        	for(var i in devices){
        		message(devices[i]);
        	}
        }
   
        return connection;
      }

    
      function message(msg){
          $('#chatLog').append(msg+'</p>');
      }
	 	
      $("#sendEventBtn").click(function(event) {
    	  var eventId = $("#eventName").val();
    	  var params = $("#eventParams").val();
    	  connection.sendEvent(eventId, params);
      });
      
      $("#sendMessageBtn").click(function(event) {
          var device = $("#deviceName2").val();
          var msgId = $("#messageName").val();
          var params = $("#messageParams").val();
          connection.sendMessage(device, msgId, params);
      });

      $('#getDevices').click(function(){
          connection.getDevices();
      });
      
      
      $('#clear').click(function(){
    	  $('#chatLog').text("");
      });
      
      
      $('#disconnectChannel').click(function(){
      });
 	
 	</script>   
}